nav {
  @media (max-width: 600px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $white;

    img {
      width: 162px;
      max-height: 100%;
      padding: 20px 0px 12px 0px;
    }

    .location {
      display: flex;
      width: 100%;
      text-align: center;
      justify-content: center;
      align-items: center;
      background-color: #eaeaea;
      gap: 17px;
      padding: 15px 0;
      font-size: 16px;
      font-weight: 500px;
      color: #353535;
    }
  }

  svg {
    width: 12px;
    height: 16px;
  }
}
