// Colors (primary + neutrals)
$purple: #9356dc;
$dark_blue: #003a6b;
$light_blue: #89c8fa;
$dark_green: #008766;
$light_green: #99e2d0;
$black: #000000;
$white: #ffffff;

//  Font
$corps_font: "Roboto", sans-serif;
$title_font: "Shrikhand", sans-serif;
$df_font_size: 15px;
$df_font_weight: 300;
$df_font_style: normal;

// Line
$df_line_height: 1.5;

// Text
$df_text_decoration: none;
